<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.CustomerMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache"
        /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
    <!-- 以下与实体类的中字段一致 -->

    <sql id="selectId">
        id,
        userId,
        customerName,
        (select group_concat('跟进信息:',content
        ,'[By:',userName,'At:',createDate,']\n&lt;/br&gt;', '' ORDER BY id
        DESC) from cu_follow
        where id
        in (SELECT id FROM cu_follow WHERE
        cu_follow.customerId=cudata.id)) content,
        <!-- (select group_concat(concat_ws('At:',content,createDate) ORDER BY
            id DESC) from cu_follow where id in (SELECT id FROM cu_follow WHERE cu_follow.customerId=cudata.id))
            content , -->
        telephone,
        gender,
        apartment,
        totalPrice,
        purpose,

        intention,

        userName,
        (select name from ogdepartment
        where id=department)departmentName,
        department,
        createDate,
        trackDate,
        ntrackDate,
        trackremind,
        cusource,
        resources,
        state,
        communicate,
        description
    </sql>

    <sql id="selectEdit">
		id,
		userId,
		customerName,
		(select group_concat('跟进信息:',content
		,'[By:',userName,'At:',createDate,']\n', '' ORDER BY id DESC) from
		cu_follow
		where id
		in (SELECT id FROM cu_follow WHERE
		cu_follow.customerId=cudata.id)) content,
		telephone,
		gender,
		apartment,
		totalPrice,
		purpose,
		intention,
		userName,
		(select name from ogdepartment
		where id=department)departmentName,
		department,
		createDate,
		trackDate,
		ntrackDate,
		trackremind,
		cusource,
		resources,
		state,
		communicate,
		description
	</sql>


    <!-- 添加客户 -->

    <insert id="addEntity">
        INSERT INTO
        cudata
        VALUES
        (
        null,
        #{userId},
        #{customerName},
        #{telephone},
        #{gender},
        #{apartment},
        #{totalPrice},
        #{purpose},
        #{intention},
        #{userName},
        #{department},
        #{accountName},
        #{createDate},
        #{trackDate},
        #{ntrackDate},
        #{trackremind},
        #{cusource},
        #{resources},
        #{state},
        #{communicate},
        #{description}
        )
        <selectKey keyProperty="id" order="AFTER"
                   resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 添加更进信息 -->
    <insert id="addFollow">
		INSERT INTO
		cu_follow
		VALUES
		(
		null,
		#{id},
		#{userId},
		#{userName},
		#{department},
		#{content},
		#{communicate},
		#{trackDate}

		)
	</insert>
    <!-- 添加永久更进信息 -->
    <insert id="addLFollow">
		INSERT INTO
		cu_lfollow
		VALUES
		(
		null,
		#{id},
		#{userId},
		#{userName},
        #{department},
		#{content},
		#{communicate},
		#{trackDate}

		)
	</insert>
    <!-- 添加扩展信息 -->
    <insert id="addExtend">
		INSERT INTO
		cuextend
		VALUES
		(
		null,
		#{id},
		null,
		null,
		null,
		null,
		null,
		#{createDate},
		null

		)
	</insert>
    <!--房发现客户具体来源-->
    <insert id="addSource">

			INSERT INTO
		cu_ffxsource
		VALUES
		(
		null,
		#{id},
		#{telephone},
		#{ffxcusource},
		#{createDate}

		)
	</insert>

    <!-- 添加客户统计 -->
    <insert id="addCu">
		INSERT INTO
		cu_add
		VALUES
		(
		null,
		#{id},
		#{userId},
		#{userName},
		#{department},
		#{source},
		#{createDate}

		)
	</insert>
    <!-- 添加到访客户 -->
    <insert id="addVisit">
		INSERT INTO
		cu_visit
		(
		id,
		customerId,
		customerName,
		userName,
		userId,
		deId,
		projectId,
		consultantName,
		visitDate
		)
		VALUES
		(
		null,
		#{id},
		#{customerName},
		#{userName},
		#{userId},
		#{department},
		#{visitprojectId},
		#{visitconsulName},
		#{visitdate}
		)

	</insert>
    <!-- 添加成交到访客户 -->
    <insert id="addVisit1">
		INSERT INTO
		cu_visit (
		id,
		customerId,
		customerName,
		userName,
		userId,
		deId,
		projectId,
		consultantName,
		visitDate
		)
		VALUES
		(
		null,
		#{id},
		#{customerName},
		#{userName},
		#{userId},
		#{department},
		#{dealprojectId},
		#{dealconsulName},
		#{dealdate}
		)

	</insert>
    <!-- 添加成交佣金分配 -->
    <insert id="addDealAllot">
		INSERT INTO
		cu_deal_allot (
		id,
		dealId,
		userId,
		deId,
		ratio,
		type,
		commission
		)
		VALUES
		(
		null,
		#{dealId},
		#{userId},
		#{deId},
		#{ratio},
		#{type},
		#{dealCommission}
		)

	</insert>
    <!-- 添加成交客户 -->
    <insert id="addDeal">
        INSERT INTO
        cu_deal
        (
        id,
        customerId,
        mode,
        customerName,
        userName,
        userId,
        deId,
        projectId,
        area,
        price,
        commission,
        money,
        roomNumber,
        state,
        dealDate

        )
        VALUES
        (
        null,
        #{cuId},
        #{dealmode},
        #{customerName},
        #{userName},
        #{userId},
        #{department},
        #{dealprojectId},
        #{dealarea},
        #{dealprice},
        #{commission},
        #{money},
        #{roomNumber},
        #{dealState},
        #{dealdate}

        )
        <selectKey keyProperty="id" order="AFTER"
                   resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!-- 修改扩展信息 -->
    <update id="editExtend">
        update cuextend
        <set>
            <if test=" charactera != null and  charactera != '' ">
                charactera=#{charactera},
            </if>
            <if test=" telephone1 != null and  telephone1 != '' ">
                telephone1=#{telephone1},
            </if>
            <if test="travel != null and travel != '' ">
                travel=#{travel},
            </if>
            <if test="job != null and job != '' ">
                job=#{job},
            </if>
            <if test="address != null and address != '' ">
                address=#{address},
            </if>
            <if test="description != null and description != '' ">
                description=#{description},
            </if>
            <if test="createDate != null and createDate != '' ">
                createDate=#{createDate},
            </if>
        </set>
        where id=#{id};
    </update>

    <!-- 添加报备 -->

    <insert id="addpreEntity">
		INSERT INTO
		cu_preparation
		VALUES
		(
		null,
		#{id},
		#{customerName},
		#{userName},
		#{projectId},
		#{createDate},
		#{bespeakDate}

		)
	</insert>

    <!--客户查看 -->
    <select id="findCustomerPage"
            resultType="com.first.entity.CustomerFormMap">
        SELECT * from (
        select
        <include refid="selectId"/>

        from cudata
        where
        resources=1
        <if test="id != null and id != '' and id != 0">
            and userId=#{id}
        </if>

        <if test="customerName != null and  customerName != ''">
            and customerName=#{customerName}
            <!---AND customerName LIKE CONCAT(CONCAT('%',#{customerName}),'%')-->
        </if>
        <if test="telephone != null and  telephone != ''">
            and telephone=#{telephone}

        </if>
        <if
                test="stotalPrice != null and  stotalPrice != '' or etotalPrice != null and  etotalPrice != ''">
            and totalPrice between #{stotalPrice} and #{etotalPrice}
        </if>
        <if
                test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
            and createDate between #{screateDate} and #{ecreateDate}
        </if>

        <if test="state != null and  state != ''">
            and state=#{state}
        </if>

        <if test="purpose != null and  purpose != ''">
            and
            purpose=#{purpose}
        </if>
        <if test="  intention != null and    intention != ''">
            and
            intention=#{ intention}
        </if>

        <if test="apartment != null and  apartment != ''">
            and
            apartment=#{apartment}
        </if>
        <if test="cusource != null and  cusource != '' and  cusource != 0 ">
            and cusource= #{cusource}
            <!-- cusource in <foreach item="item" index="index" collection="array"
                open="(" separator="," close=")"> #{cusource} </foreach> -->
        </if>
        order by ${date} asc,createDate desc
        ) a where 1=1
        <if test="followa != null and  followa != ''">
            and content LIKE CONCAT(CONCAT('%',#{followa}),'%')

        </if>

    </select>
    <!-- <if test="followb != null and followb != '' and followb==1" > and (SELECT
        DATEDIFF(trackDate,createDate) AS DiffDate) >15 </if> -->

    <!--部门客户查看 -->
    <select id="finddCustomerPage"
            resultType="com.first.entity.CustomerFormMap"
            parameterType="java.util.Map">
        select
        <include refid="selectId"/>

        from cudata
        where
        resources=1
        <!-- <if test="id != null and id != '' and id != 0"> and userId=#{id} </if> -->

        <if test="departments != null ">
            and department in
            <foreach collection="departments" item="item" index="index"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="customerName != null and  customerName != ''">
            and customerName=#{customerName}

        </if>
        <if test="telephone != null and  telephone != ''">
            and telephone=#{telephone}

        </if>
        <if test="followa != null and  followa != ''">
            AND content LIKE CONCAT(CONCAT('%',#{followa}),'%')

        </if>
        <if
                test="stotalPrice != null and  stotalPrice != '' or etotalPrice != null and  etotalPrice != ''">
            and totalPrice between #{stotalPrice} and #{etotalPrice}
        </if>
        <if
                test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
            and createDate between #{screateDate} and #{ecreateDate}
        </if>


        <if test="userId != null and  userId != ''and userId !=0">
            and
            userId=#{userId}
        </if>
        <if test="state != null and  state != ''">
            and state=#{state}
        </if>

        <if test="purpose != null and  purpose != ''">
            and
            purpose=#{purpose}
        </if>
        <if test="  intention != null and    intention != ''">
            and
            intention=#{ intention}
        </if>
        <if test="apartment != null and  apartment != ''">
            and
            apartment=#{apartment}
        </if>
        <if test="cusource != null and  cusource != '' and  cusource != 0 ">
            and cusource= #{cusource}

        </if>

        order by ${date} desc,id desc
    </select>
    <!--公司客户查看 -->
    <select id="findaCustomerPage"
            resultType="com.first.entity.CustomerFormMap">
        select
        <include refid="selectId"/>

        from cudata
        where
        resources=1
        <!-- <if test="id != null and id != '' and id != 0"> and userId=#{id} </if> -->

        <if test="customerName != null and  customerName != ''">
            and customerName=#{customerName}

        </if>
        <if test="telephone != null and  telephone != ''">
            and telephone=#{telephone}

        </if>
        <if test="followa != null and  followa != ''">
            AND content LIKE CONCAT(CONCAT('%',#{followa}),'%')

        </if>
        <if
                test="stotalPrice != null and  stotalPrice != '' or etotalPrice != null and  etotalPrice != ''">
            and totalPrice between #{stotalPrice} and #{etotalPrice}
        </if>
        <if
                test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
            and createDate between #{screateDate} and #{ecreateDate}
        </if>

        <if
                test="department != null and  department != ''and  department != 0">
            and department=#{department}
        </if>

        <if test="userId != null and  userId != ''and userId !=0">
            and
            userId=#{userId}
        </if>
        <if test="userName != null and  userName != ''">
            and
            userName=#{userName}
        </if>
        <if test="state != null and  state != ''">
            and state=#{state}
        </if>

        <if test="purpose != null and  purpose != ''">
            and
            purpose=#{purpose}
        </if>

        <if test="apartment != null and  apartment != ''">
            and
            apartment=#{apartment}
        </if>
        <if test="  intention != null and    intention != ''">
            and
            intention=#{ intention}
        </if>
        <if test="cusource != null and  cusource != '' and  cusource != 0 ">
            and cusource= #{cusource}
            <!-- cusource in <foreach item="item" index="index" collection="array"
                open="(" separator="," close=")"> #{cusource} </foreach> -->
        </if>
        order by ${date} asc ,id desc
    </select>
    <!--部门资源池客户查看 -->
    <select id="findcCustomerPage"
            resultType="com.first.entity.CustomerFormMap">
        select
        id,
        userId,
        customerName,
        (select group_concat('跟进信息:',content
        ,'[By:',userName,'At:',createDate,']\n&lt;/br&gt;', '' ORDER BY id
        DESC) from cu_follow
        where id
        in (SELECT id FROM cu_follow WHERE
        cu_follow.customerId=cudata.id)) content,
        telephone,
        gender,
        apartment ,
        totalPrice,
        purpose,
        cusource,
        userName,
        (select name from ogdepartment
        where id=department)
        departmentName,
        trackDate,
        createDate
        from cudata
        where resources=2
        <if test="departments != null ">
            and department in
            <foreach collection="departments" item="item" index="index"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="customerName != null and  customerName != ''">
            and customerName=#{customerName}

        </if>
        <if test="telephone != null and  telephone != ''">
            and telephone=#{telephone}

        </if>
        <if test="userId != null and  userId != ''and userId != 0">
            and
            userId=#{userId}
        </if>
        <if
                test="stotalPrice != null and  stotalPrice != '' or etotalPrice != null and  etotalPrice != ''">
            and totalPrice between #{stotalPrice} and #{etotalPrice}
        </if>
        <if test="purpose != null and  purpose != ''">
            and
            purpose=#{purpose}
        </if>
        <if test="apartment != null and  apartment != ''">
            and
            apartment=#{apartment}
        </if>
        order by createDate desc,id asc
    </select>

    <!--公司资源池客户查看 -->
    <select id="findcAllPage"
            resultType="com.first.entity.CustomerFormMap">
        select
        id,
        userId,
        customerName,
        telephone,
        gender,
        apartment ,
        totalPrice,
        purpose,
        cusource,
        userName,
        (select name from ogdepartment
        where
        id=department) departmentName,
        trackDate,
        createDate
        from cudata
        where
        resources=3
        <choose>
            <when
                    test="department != null and department != '' and department != 0 or
            			userId != null and userId != '' and userId != 0 or
            			customerName != null and  customerName != '' or
            			telephone != null and  telephone != ''  or
            			stotalPrice != null and  stotalPrice != '' or etotalPrice != null and  etotalPrice != '' or
            			screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != '' or
            			purpose != null and  purpose != '' and  purpose != 0 or 
            			apartment != null and  apartment != '' and apartment != 0 or
            			cusource != null and  cusource != '' and  cusource != 0   ">
                <if
                        test="department != null and department != '' and department != 0">
                    and department=#{department}
                </if>
                <if test="userId != null and userId != '' and userId != 0">
                    and userId=#{userId}
                </if>
                <if test="customerName != null and  customerName != ''">
                    and customerName=#{customerName}

                </if>
                <if test="telephone != null and  telephone != ''">
                    and telephone=#{telephone}

                </if>

                <if
                        test="stotalPrice != null and  stotalPrice != '' or etotalPrice != null and  etotalPrice != ''">
                    and totalPrice between #{stotalPrice} and #{etotalPrice}
                </if>
                <if
                        test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
                    and createDate between #{screateDate} and #{ecreateDate}
                </if>
                <if test="purpose != null and  purpose != '' and  purpose != 0 ">
                    and purpose=#{purpose}
                </if>
                <if
                        test="apartment != null and  apartment != '' and apartment != 0 ">
                    and apartment=#{apartment}
                </if>
                <if
                        test="cusource != null and  cusource != '' and  cusource != 0 ">
                    and cusource=#{cusource}
                </if>

            </when>
            <otherwise>
                and (select ceil(rand()*(select MAX( id ) from cudata)))
                &lt;=id
            </otherwise>
        </choose>


    </select>

    <!--跟进用户 -->
    <select id="findbyeditUI"
            resultType="com.first.entity.CustomerFormMap">
        select
        <include refid="selectEdit"/>

        from cudata
        where
        <if test=" id != null">
            id=#{id}
        </if>
    </select>
    <!--查看带访客户 -->
    <select id="findbyproject" resultType="String">
		select group_concat('项目名:',projectId
		,'；带访人:',userName,'；带访时间:',visitDate,'\n', '' ORDER BY id
		DESC) as visproject from cu_visit
		where

		customerId=#{id}

	</select>

    <update id="editEntity">
        update cudata
        <set>
            <if test=" customerName != null and  customerName != '' ">
                customerName=#{customerName},
            </if>
            <if test=" telephone != null and  telephone != '' ">
                telephone=#{telephone},
            </if>
            <if test=" cusource != null and cusource != '' ">
                cusource=#{cusource},
            </if>
            <if test=" gender != null and gender != '' ">
                gender=#{gender},
            </if>
            <if test=" apartment != null and apartment != '' ">
                apartment=#{apartment},
            </if>
            <if test=" totalPrice != null and totalPrice != '' ">
                totalPrice=#{totalPrice},
            </if>
            <if test=" purpose != null and purpose != '' ">
                purpose=#{purpose},
            </if>
            <if test=" intention != null and intention != '' ">
                intention=#{intention},
            </if>
            <if test=" trackDate != null and trackDate != '' ">
                trackDate=#{trackDate},
            </if>
            <if test=" ntrackDate != null and ntrackDate != '' ">
                ntrackDate=#{ntrackDate},
            </if>
            <if test=" trackremind != null and trackremind != '' ">
                trackremind=#{trackremind},
            </if>
            <if test="  state  != null and  state  != '' ">
                state =#{state},
            </if>
            <if test="  communicate  != null and  communicate  != '' ">
                communicate =#{communicate},
            </if>
            <if test=" description != null and  description != '' ">
                description =#{description},
            </if>
        </set>
        where id=#{id};
    </update>


    <!-- 编辑客户 (放入公共池或转让客户) -->
    <update id="discardEntity">
        update cudata
        <set>
            <if test=" resources != null and  resources != '' and  resources != 0">
                resources=#{resources},
            </if>
            <if test=" userName != null and  userName != '' ">
                userName=#{userName},
            </if>
            <if test=" userId != null and userId != '' and userId != 0 ">
                userId=#{userId},
            </if>
            <if
                    test=" department != null and department != '' and department != 0 ">
                department=#{department},
            </if>
            <if test=" state != null and state != '' and state != 0 ">
                state=#{state},
            </if>
            <if test=" trackremind != null and trackremind != ''  ">
                trackremind=#{trackremind},
            </if>

            <!-- <if test="trackremind != null and trackremind != '' and trackremind
                != 0"> trackremind=#{trackremind}, </if> -->
        </set>
        where id=#{id}
        <if test=" stop != null and stop != '' and stop != 0 ">
            and resources!=1
        </if>

    </update>
    <!--修改部门 修改客户数据-->
    <update id="modifCuEntity">
        update cudata
        <set>

            <if
                    test=" department != null and department != '' and department != 0 ">
                department=#{department},
            </if>

        </set>
        where userId=#{userId}
        and resources=1


    </update>

    <!--定时放入部门公共池 -->
    <update id="autobDiscard">
		update cudata
		set resources=2
		where
		resources=1 and
		state !=4 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) &gt;7
	</update>

    <!--定时放入公司公共池 -->
    <update id="autoaDiscard">
		update cudata
		set resources=3
		where
		resources=2 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) &gt;15
	</update>
    <!--昨日跟进 -->
    <update id="auto0Discard">
		update cudata
		set trackremind=1
		where
		resources=1 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) =1
	</update>
    <!--1天未更 -->
    <update id="auto1Discard">
		update cudata
		set trackremind=2
		where
		resources=1 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) =2
	</update>
    <!-- 2天未更 -->
    <update id="auto2Discard">
		update cudata
		set trackremind=3
		where
		resources=1 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) =3
	</update>
    <!--3天未更 -->
    <update id="auto3Discard">
		update cudata
		set trackremind=4
		where
		resources=1 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) =4
	</update>
    <!--4天未更 -->
    <update id="auto4Discard">
		update cudata
		set trackremind=5
		where
		resources=1 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) =5
	</update>
    <!--5天未更 -->
    <update id="auto5Discard">
		update cudata
		set trackremind=6
		where
		resources=1 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) =6
	</update>
    <!--6天未更 -->
    <update id="auto6Discard">
		update cudata
		set trackremind=7
		where
		resources=1 and
		(SELECT DATEDIFF(NOW(),trackDate) AS DiffDate) =7
	</update>
    <!--6天未更共享客户 -->
    <delete id="auto6DiscardShare">
		delete cushare from cushare LEFT JOIN cudata on cushare.customerId=cudata.id  where
        cudata.state!=4 AND
		(SELECT DATEDIFF(NOW(),cudata.trackDate) AS DiffDate)  &gt;7

	</delete>


    <!-- 删除客户 -->
    <delete id="deleteEntity">
		delete from cudata where
		id=#{id}

	</delete>
    <delete id="deleteAdd">
		delete from cu_add where
		customerId=#{id}

	</delete>
    <delete id="deleteFollow">
		delete from cu_follow where
		customerId=#{id}

	</delete>
    <delete id="deletExtend">
		delete from cuextend where
		customerId=#{id}

	</delete>
    <delete id="deletePreparation">
		delete from cu_preparation where
		customerId=#{id}

	</delete>
    <!--跟进用户 -->
    <select id="findbyExtend"
            resultType="com.first.entity.ExtendFormMap">
        select
        id,
        charactera,
        telephone1,
        travel,
        job,
        address,
        description
        from
        cuextend
        where
        <if test=" id != null">
            customerId=#{id}
        </if>
    </select>

    <!--房发现客户查看 -->
    <select id="findffxCustomerPage"
            resultType="com.first.entity.CustomerFormMap">
        SELECT
        cudata.id,
        userId,
        customerName,
        (select group_concat('跟进信息:',content
        ,'[By:',userName,'At:',createDate,']\n&lt;/br&gt;', '' ORDER BY id
        DESC) from cu_follow
        where id
        in (SELECT id FROM cu_follow WHERE
        cu_follow.customerId=cudata.id)) content,
        cudata.telephone,
        gender,
        apartment,
        totalPrice,
        purpose,
        intention,
        userName,
        (
        SELECT
        NAME
        FROM
        ogdepartment
        WHERE
        id = department
        ) departmentName,
        department,
        cudata.createDate,
        trackDate,
        ntrackDate,
        trackremind,
        cusource,
        resources,
        state,
        communicate,
        description,
        cu_ffxsource.ffxsource
        FROM
        cudata
        LEFT JOIN cu_ffxsource ON cudata.id = cu_ffxsource.customerId
        WHERE
        cusource IN (3, 6)

        <if test="customerName != null and  customerName != ''">

            AND customerName LIKE
            CONCAT(CONCAT('%',#{customerName}),'%')
        </if>
        <if test="telephone != null and  telephone != ''">

            and cudata.telephone LIKE CONCAT(CONCAT('%',#{telephone}),'%')
        </if>
        <if test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
            and cudata.createDate between #{screateDate} and #{ecreateDate}
        </if>


        order by cudata.createDate desc

    </select>
    <!--带访客户查看 -->
    <select id="findvisitCustomerPage"
            resultType="com.first.entity.CustomerFormMap">
        SELECT
        cu_visit.customerId,
        cu_visit.userId,
        cu_visit.customerName,
        (
        SELECT
        group_concat(
        '跟进信息:',
        content,
        '[By:',
        userName,
        'At:',
        createDate,
        ']\n&lt;/br&gt;',
        ''
        ORDER BY
        id DESC
        )
        FROM
        cu_follow
        WHERE
        id IN (
        SELECT
        id
        FROM
        cu_follow
        WHERE
        cu_follow.customerId = cu_visit.customerId
        )
        ) content,
        cudata.telephone,
        cudata.gender,
        cudata.apartment,
        cudata.totalPrice,
        cudata.purpose,
        cudata.intention,
        cu_visit.userName,
        cu_visit.projectId,
        (
        SELECT
        NAME
        FROM
        ogdepartment
        WHERE
        id = cudata.department
        ) departmentName,
        cudata.department,
        cudata.trackremind,
        cu_visit.visitDate,
        cudata.cusource,
        cudata.resources,
        cudata.state
        FROM
        cu_visit
        LEFT JOIN cudata ON cu_visit.customerId = cudata.id
        where 1=1
        <if test="customerName != null and  customerName != ''">

            AND cu_visit.customerName LIKE
            CONCAT(CONCAT('%',#{customerName}),'%')
        </if>
        <if test="telephone != null and  telephone != ''">

            and cudata.telephone LIKE CONCAT(CONCAT('%',#{telephone}),'%')
        </if>
        <if test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
            and cu_visit.visitDate between #{screateDate} and #{ecreateDate}
        </if>

        ORDER BY
        cu_visit.visitDate DESC
    </select>
    <!--成交客户查看 -->
    <select id="finddealCustomerPage"
            resultType="com.first.entity.CustomerFormMap">
        SELECT
        cu_deal.id,
        cu_deal.customerId,
        cu_deal.userId,
        cu_deal.customerName,
        (
        SELECT
        group_concat(
        '跟进信息:',
        content,
        '[By:',
        userName,
        'At:',
        createDate,
        ']\n&lt;/br&gt;',
        ''
        ORDER BY
        id DESC
        )
        FROM
        cu_follow
        WHERE
        id IN (
        SELECT
        id
        FROM
        cu_follow
        WHERE
        cu_follow.customerId = cu_deal.customerId
        )
        ) content,
        cudata.telephone,
        cudata.gender,
        cudata.apartment,
        cudata.totalPrice,
        cudata.purpose,
        cudata.intention,
        cu_deal.userName,
        cu_deal.projectId,
        cu_deal.price,
        cu_deal.commission,
        cu_deal.dealDate,
        cudata.trackremind,
        cudata.cusource,
        cudata.resources,
        cudata.state
        FROM
        cu_deal
        LEFT JOIN cudata ON cu_deal.customerId = cudata.id
        WHERE
        1 = 1
        <if test="customerName != null and  customerName != ''">

            AND cu_deal.customerName LIKE
            CONCAT(CONCAT('%',#{customerName}),'%')
        </if>
        <if test="telephone != null and  telephone != ''">

            and cudata.telephone LIKE CONCAT(CONCAT('%',#{telephone}),'%')
        </if>
        <if test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
            and cu_deal.dealDate between #{screateDate} and #{ecreateDate}
        </if>

        ORDER BY
        cu_deal.dealDate DESC

    </select>
    <!-- 项目匹配 -->
    <select id="findcumatch"
            resultType="com.first.entity.CustomerFormMap">
        SELECT id,totalPrice,apartment FROM cudata where
        resources=1
        <if test="id != null and id != '' and id != 0">
            and userId=#{id}
        </if>
        <choose>
            <when test="telephone != null and telephone !=''">
                and telephone=#{telephone}
            </when>
            <otherwise>
                and 1=0
            </otherwise>
        </choose>
    </select>

    <!-- 共享客户 -->
    <!-- 添加更进信息 -->
    <insert id="shareEntity">
		INSERT INTO
		cushare
		VALUES
		(
		null,
		#{customerId},
		#{userId},
		#{state},
		#{createDate}


		)
	</insert>
    <insert id="share1Entity">
		INSERT INTO
		culshare
		VALUES
		(
		null,
		#{customerId},
		#{userId},
		#{state},
		#{createDate}


		)
	</insert>


    <!--匹配客户-->
    <select id="findMatchCustomer"
            resultType="com.first.entity.CustomerFormMap">
        select
        <include refid="selectId"/>

        from cudata
        where
        resources=1
        <if test="userId != null and  userId != '' and  userId != 0">
            and userId=#{userId}
        </if>
        <if test="apartment != null and apartment != '' ">
            AND type=#{apartment}

        </if>

        <if test="pricess != null and pricess != ''and pricese != null and pricese != '' ">
            and (${pricess} &lt;= totalPrice AND totalPrice &lt;= ${pricese})

        </if>


    </select>
    <!--查看预约客户条数-->
    <select id="findNtrackDate"
            resultType="com.first.entity.CustomerFormMap">
    SELECT
        COUNT(id) AS number
    FROM
        cudata
    WHERE
      resources=1
    AND userId=#{userId}
    AND DATE_FORMAT(ntrackDate, '%YY%mm%dd') = DATE_FORMAT(#{ntrackDate}, '%YY%mm%dd')
     AND   trackDate  &lt;= ntrackDate
    </select>

    <!--查看预约客户-->
    <select id="findOrCustomer"
            resultType="com.first.entity.CustomerFormMap">
        select
        <include refid="selectId"/>

        from cudata
        where
        resources=1
        AND userId=#{userId}
        AND DATE_FORMAT(ntrackDate, '%YY%mm%dd') = DATE_FORMAT(#{ntrackDate}, '%YY%mm%dd')
        AND trackDate &lt;= ntrackDate
    </select>
    <!--查看指定客户-->
    <select id="findCustomer" resultType="com.first.entity.CustomerFormMap">
        select
          *
        from cudata
        where

             id=#{id}

    </select>
    <!--查看奖励客户-->
    <select id="findAwardCustomer" resultType="com.first.entity.CustomerFormMap">
        SELECT * FROM cudata
        WHERE
        1=1 and state!=4
        <if test="resources != null and  resources != ''">

            <if test="resources ==1">
                and resources=1
            </if>
            <if test="resources==2">
                and resources in (2,3)
            </if>

        </if>
        ORDER BY rand() limit ${customers};

    </select>
    <!--查看奖励客户-->
    <select id="getAwardCustomer" resultType="com.first.entity.CustomerFormMap">
      SELECT
	*
FROM
	cudata
WHERE
	id IN (
		SELECT
			customerId
		FROM
			team_award
		LEFT JOIN team_data ON team_award.teamId = team_data.id
		WHERE
			userId = #{userId}
		AND DATE_FORMAT(
			team_award.createDate,
			'%Y%m%d'
		) = DATE_FORMAT(NOW(), '%Y%m%d')
	)

    </select>
    <!--查看成交客户详情-->
    <select id="finddealAllot" resultType="java.util.HashMap">
        SELECT
            type,
            SUM(commission) commission
        FROM
            cu_deal_allot
        LEFT JOIN oguser ON cu_deal_allot.userId = oguser.id
        WHERE
            dealId=#{id}
        GROUP BY
            type
        ORDER BY cu_deal_allot.id
    </select>
    <select id="finddealUserAllot" resultType="java.util.HashMap">
        SELECT
            userName,
             type,
         commission
        FROM
            cu_deal_allot
        LEFT JOIN oguser ON cu_deal_allot.userId = oguser.id
        WHERE
            dealId=#{id}

    </select>
    <!--查看奖励客户-->
    <select id="addCumMtch" resultType="com.first.entity.CustomerFormMap">
             SELECT
            *
        FROM
            cudata
        WHERE
            id = (
                SELECT
                    MAX(id)
                FROM
                    cudata
                WHERE
                    userId = #{userId}
            )

    </select>
    <!--查看首录-->
    <select id="createUser" resultType="com.first.entity.CustomerFormMap">
               SELECT
            a.createDate,
            createBy,
            b.id,
            b.userName,
            b.department
        FROM
            (
                SELECT
                    createDate,
                    createBy,
                    userId
                FROM
                    cudata
                WHERE
                    telephone = #{telephone}
                ORDER BY
                    createDate
                LIMIT 1
            ) a
        LEFT JOIN (
            SELECT
                *
            FROM
                oguser b
            WHERE
                b.locked = 1
        ) b ON a.createBy = b.accountName

    </select>
    <select id="findFFXSource" resultType="java.util.HashMap">
    SELECT * FROM cu_source where parentId=3
    </select>


</mapper>