<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.MonthStartMapper">
	<!-- 月初永久添加部门销售数据 -->
    <insert id="addreportdsum">
		INSERT INTO cu_report_dsum
		(id,did,name,addw,adddh,addwl,addqt,addg,addz,vis,dea,follow,date)
		SELECT
		NULL,
		a.id,
		a. NAME,
		ifnull(b.addw, 0) addw,
		ifnull(b.adddh, 0) adddh,
		ifnull(b.addwl, 0) addwl,
		ifnull(b.addqt, 0) addqt,
		ifnull(b.addg, 0) addg,
		ifnull(b.addz, 0) addz,
		ifnull(c.vis, 0) vis,
		ifnull(d.dea, 0) dea,
		ifnull(e.follow, 0) follow,
		date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y%m') dates
		FROM
		(SELECT * FROM ogdepartment WHERE parentId IN (4, 12, 13, 14, 15)) AS a
		LEFT JOIN
		(SELECT c. NAME, c.deId,
		COUNT(IF (c.source = 1 AND c.cusource = 9,	TRUE,	NULL)) adddh,
		COUNT(IF (c.source = 1 AND c.cusource IN (0, 7, 8),TRUE,NULL)) addqt,
		COUNT(IF (c.source = 1 AND c.cusource IN (1, 2, 3, 4, 5, 6),TRUE,NULL)) addwl,
		COUNT(c.source = 1 OR NULL) addw,
		COUNT(c.source = 2 OR NULL) addg,
		COUNT(c.source = 3 OR NULL) addz
		FROM
		(SELECT	a.*, cudata.cusource
		FROM
		(SELECT cu_add.*, ogdepartment.`name` FROM cu_add
		LEFT JOIN ogdepartment ON cu_add.deId = ogdepartment.id
		WHERE PERIOD_DIFF(date_format(now(), '%Y%m'),date_format(cu_add.addDate, '%Y%m')) = 1
		) AS a
		LEFT JOIN cudata ON cudata.id = a.customerId
		) AS c
		GROUP BY c. NAME
		) AS b ON b.deId = a.id
	LEFT JOIN (
		SELECT d. NAME,d.deId,
		COUNT(d.customerId OR NULL) vis
		FROM
		(	SELECT cu_visit.*, ogdepartment.`name` FROM cu_visit
		LEFT JOIN ogdepartment ON cu_visit.deId = ogdepartment.id
		WHERE PERIOD_DIFF(date_format(now(), '%Y%m'),date_format(cu_visit.visitDate, '%Y%m')) = 1
		) AS d
		GROUP BY d. NAME
	) AS c ON c.deId = a.id
	LEFT JOIN (
		SELECT e. NAME,e.deId,
		COUNT(e.customerId OR NULL) dea
		FROM
		(	SELECT cu_deal.*, ogdepartment.`name` FROM cu_deal
		LEFT JOIN ogdepartment ON cu_deal.deId = ogdepartment.id
		WHERE PERIOD_DIFF(date_format(now(), '%Y%m'),	date_format(cu_deal.dealDate, '%Y%m')	) = 1
		) AS e
		GROUP BY	e. NAME
	) AS d ON d.deId = a.id
	LEFT JOIN (
		SELECT f. NAME,f.deId,
		COUNT(f.customerId OR NULL) follow
		FROM
		(SELECT cu_follow.*, ogdepartment.`name` FROM cu_follow
		LEFT JOIN ogdepartment ON cu_follow.deId = ogdepartment.id
		WHERE PERIOD_DIFF(date_format(now(), '%Y%m'),date_format(cu_follow.CreateDate,'%Y%m')) = 1
		) AS f
		GROUP BY	f. NAME
	) AS e ON e.deId = a.id
	ORDER BY	a.parentId,a.id
	</insert>
	<!-- 月初永久添加个人销售数据 -->
    <insert id="addreportpsum">
		INSERT INTO cu_report_psum
		(id,pid,userName,name,addw,adddh,addwl,addqt,addg,addz,vis,dea,follow,date)
		SELECT null,a.id as pid,a.userName ,a.name,ifnull(b.addw,0)
		addw,ifnull(b.adddh,0) adddh,ifnull(b.addwl,0) addwl,ifnull(b.addqt,0)
		addqt,ifnull(b.addg,0) addg,ifnull(b.addz,0) addz,ifnull(c.vis,0)
		vis,ifnull(d.dea,0) dea,ifnull(e.follow,0)
		follow,date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m')
		dates
		FROM
		(SELECT
		oguser.id,oguser.userName,ogdepartment.id as did ,ogdepartment.name
		FROM oguser LEFT JOIN ogdepartment ON
		ogdepartment.id=oguser.department WHERE oguser.locked=1 and
		ogdepartment.parentId in (4,12,13,14,15)) as a LEFT JOIN

		(SELECT
		c.userId
		,
		c.userName ,
		COUNT(if(c.source=1 and c.cusource=9,true,null)) adddh,
		COUNT(if(c.source=1 and c.cusource IN (0,7,8),true,null)) addqt,
		COUNT(if(c.source=1 and c.cusource IN (1,2,3,4,5,6),true,null)) addwl,
		COUNT(c.source=1 or null)addw,
		COUNT(c.source=2 or null) addg,
		COUNT(c.source=3 OR NULL) addz
		FROM (SELECT b.*, cudata.cusource FROM
		(SELECT cu_add.* FROM cu_add where PERIOD_DIFF( date_format( now( ) ,
		'%Y%m' )
		, date_format(cu_add.addDate, '%Y%m' ) ) =1) as b LEFT JOIN
		cudata ON cudata.id =b.customerId) AS c GROUP BY c.userId ) as b
		ON
		b.userId=a.id left JOIN

		(SELECT
		b.userId ,
		b.userName,
		COUNT( b.customerId
		or null) vis
		FROM(SELECT cu_visit.* FROM cu_visit where PERIOD_DIFF(
		date_format( now( ) ,
		'%Y%m' ) , date_format(cu_visit.visitDate, '%Y%m'
		) ) =1 ) as b GROUP
		BY b.userId) as c
		ON c.userId=a.id left JOIN

		(SELECT
		b.userId ,
		b.userName,
		COUNT( b.customerId or null) dea
		FROM(SELECT
		cu_deal.* FROM cu_deal where PERIOD_DIFF( date_format( now( ) , '%Y%m'
		)
		, date_format(cu_deal.dealDate, '%Y%m' ) ) =1 ) as b GROUP BY
		b.userId)
		as d
		ON d.userId=a.id left JOIN

		(SELECT
		b.userId ,
		b.userName,
		COUNT(
		b.customerId or null) follow
		FROM(SELECT cu_follow.* FROM cu_follow where
		PERIOD_DIFF( date_format( now( ) ,
		'%Y%m' ) , date_format(
		cu_follow.CreateDate, '%Y%m' ) ) =1 ) as b
		GROUP BY b.userId) as e
		ON
		e.userId=a.id

		ORDER BY a.did
	</insert>
	<!-- 删除1月前登陆记录 -->
    <delete id="deletelogin">
		delete from oguserlogin where
		loginTime &lt;=DATE_SUB(NOW(),INTERVAL 1 MONTH)
	</delete>
	<!-- 删除1月前操作记录 -->
    <delete id="deletelog">
		delete from oglog where
		operTime &lt;=DATE_SUB(NOW(),INTERVAL 1 MONTH)
	</delete>
    <!-- 删除3月前更进 -->
    <delete id="deletefollow">
		delete from cu_follow where
		CreateDate &lt;=DATE_SUB(NOW(),INTERVAL 3 MONTH)
	</delete>
    <!-- 删除6月前新增 -->
    <delete id="deleteadd">
		delete from cu_add where
		addDate &lt;=DATE_SUB(NOW(),INTERVAL 6 MONTH) and source!=1
	</delete>

</mapper>