<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.PersonalMapper">
    <!--当天销售数据-->
    <select id="finddayreport"
            resultType="com.first.entity.PersonalFormMap">
		SELECT
	a.id,
	a.userName,
	a.did,
	a. NAME department,
	ifnull(b.addw, 0) addw,
	ifnull(b.adddh, 0) adddh,
	ifnull(b.addwl, 0) addwl,
	ifnull(b.addwla, 0) addwla,
	ifnull(b.addwl5, 0) addwl5,
	ifnull(b.addwlf, 0) addwlf,
	ifnull(b.addqt, 0) addqt,
	ifnull(c.vis, 0) visit,
	ifnull(c.visproject, "") visitproject,
	ifnull(d.dea, 0) deal,
	ifnull(d.deaproject, "") dealproject,
	ifnull(sum(d.price)/10000, 0) price,
	ifnull(sum(d.commission)/10000, 0) commission,
	DATE_FORMAT(now(), "%Y-%m-%d") days
FROM
	(
		SELECT
			oguser.id,
			oguser.userName,
			ogdepartment.id AS did,
			ogdepartment. NAME
		FROM
			oguser
		LEFT JOIN ogdepartment ON ogdepartment.id = oguser.department
		WHERE
			oguser.id = #{userId}
	) AS a
LEFT JOIN (
	SELECT
		c.userId,
		c.userName,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource = 9,
				TRUE,
				NULL
			)
		) adddh,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (0, 7, 8),
				TRUE,
				NULL
			)
		) addqt,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 2, 3, 4, 5, 6),
				TRUE,
				NULL
			)
		) addwl,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 4),
				TRUE,
				NULL
			)
		) addwla,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (2, 5),
				TRUE,
				NULL
			)
		) addwl5,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (3, 6),
				TRUE,
				NULL
			)
		) addwlf,
		COUNT(c.source = 1 OR NULL) addw
	FROM
		(
			SELECT
				b.*, cudata.cusource
			FROM
				(
					SELECT
						cuadd.*
					FROM
						cuadd
					WHERE
						DATE_FORMAT(addDate, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
				) AS b
			LEFT JOIN cudata ON cudata.id = b.customerId
		) AS c
	WHERE
		userId = #{userId}
) AS b ON a.id = b.userId
LEFT JOIN (
	SELECT
		b.userId,
		b.userName,
		COUNT(b.customerId OR NULL) vis,
		group_concat("", projectId) AS visproject
	FROM
		(
			SELECT
				cuvisit.*
			FROM
				cuvisit
			WHERE
				DATE_FORMAT(visitDate, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
			AND userId =#{userId}
		) AS b
) AS c ON a.id = c.userId
LEFT JOIN (
	SELECT
		b.userId,
		b.userName,
		COUNT(b.customerId OR NULL) dea,
		sum(b.price) price,
		sum(b.commission) commission,
		group_concat("", projectId) AS deaproject
	FROM
		(
			SELECT
				cudeal.*
			FROM
				cudeal
			WHERE
				DATE_FORMAT(dealDate, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
			AND userId =#{userId}
		) AS b
) AS d ON a.id = d.userId
	</select>

	<!--当周销售数据-->
	<select id="findweekreport"
			resultType="com.first.entity.PersonalFormMap">
		SELECT
	a.id,
	a.userName,
	a.did,
	a. NAME department,
	ifnull(b.addw, 0) addw,
	ifnull(b.adddh, 0) adddh,
	ifnull(b.addwl, 0) addwl,
	ifnull(b.addwla, 0) addwla,
	ifnull(b.addwl5, 0) addwl5,
	ifnull(b.addwlf, 0) addwlf,
	ifnull(b.addqt, 0) addqt,
	ifnull(c.vis, 0) visit,
	ifnull(c.visproject, "") visitproject,
	ifnull(d.dea, 0) deal,
	ifnull(d.deaproject, "") dealproject,
	ifnull(sum(d.price)/10000, 0) price,
	ifnull(sum(d.commission)/10000, 0) commission

FROM
	(
		SELECT
			oguser.id,
			oguser.userName,
			ogdepartment.id AS did,
			ogdepartment. NAME
		FROM
			oguser
		LEFT JOIN ogdepartment ON ogdepartment.id = oguser.department
		WHERE
			oguser.id = #{userId}
	) AS a
LEFT JOIN (
	SELECT
		c.userId,
		c.userName,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource = 9,
				TRUE,
				NULL
			)
		) adddh,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (0, 7, 8),
				TRUE,
				NULL
			)
		) addqt,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 2, 3, 4, 5, 6),
				TRUE,
				NULL
			)
		) addwl,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 4),
				TRUE,
				NULL
			)
		) addwla,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (2, 5),
				TRUE,
				NULL
			)
		) addwl5,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (3, 6),
				TRUE,
				NULL
			)
		) addwlf,
		COUNT(c.source = 1 OR NULL) addw
	FROM
		(
			SELECT
				b.*, cudata.cusource
			FROM
				(
					SELECT
						cuadd.*
					FROM
						cuadd
					WHERE
						addDate between #{screateDate} and #{ecreateDate}
				) AS b
			LEFT JOIN cudata ON cudata.id = b.customerId
		) AS c
	WHERE
		userId = #{userId}
) AS b ON a.id = b.userId
LEFT JOIN (
	SELECT
		b.userId,
		b.userName,
		COUNT(b.customerId OR NULL) vis,
		group_concat("", projectId) AS visproject
	FROM
		(
			SELECT
				cuvisit.*
			FROM
				cuvisit
			WHERE
				visitDate  between #{screateDate} and #{ecreateDate}
			AND userId = #{userId}
		) AS b
) AS c ON a.id = c.userId
LEFT JOIN (
	SELECT
		b.userId,
		b.userName,
		COUNT(b.customerId OR NULL) dea,
		sum(b.price) price,
		sum(b.commission) commission,
		group_concat("", projectId) AS deaproject
	FROM
		(
			SELECT
				cudeal.*
			FROM
				cudeal
			WHERE
				dealDate between #{screateDate} and #{ecreateDate}
			AND userId = #{userId}
		) AS b
) AS d ON a.id = d.userId
	</select>
	<!--当月销售数据-->
	<select id="findmonthreport"
			resultType="com.first.entity.PersonalFormMap">
		SELECT
	a.id,
	a.userName,
	a.did,
	a. NAME department,
	ifnull(b.addw, 0) addw,
	ifnull(b.adddh, 0) adddh,
	ifnull(b.addwl, 0) addwl,
	ifnull(b.addwla, 0) addwla,
	ifnull(b.addwl5, 0) addwl5,
	ifnull(b.addwlf, 0) addwlf,
	ifnull(b.addqt, 0) addqt,
	ifnull(c.vis, 0) visit,
	ifnull(c.visproject, "") visitproject,
	ifnull(d.dea, 0) deal,
	ifnull(d.deaproject, "") dealproject,
	ifnull(sum(d.price)/10000, 0) price,
	ifnull(sum(d.commission)/10000, 0) commission,
	DATE_FORMAT(now(), "%Y-%m") months
FROM
	(
		SELECT
			oguser.id,
			oguser.userName,
			ogdepartment.id AS did,
			ogdepartment. NAME
		FROM
			oguser
		LEFT JOIN ogdepartment ON ogdepartment.id = oguser.department
		WHERE
			oguser.id = #{userId}
	) AS a
LEFT JOIN (
	SELECT
		c.userId,
		c.userName,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource = 9,
				TRUE,
				NULL
			)
		) adddh,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (0, 7, 8),
				TRUE,
				NULL
			)
		) addqt,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 2, 3, 4, 5, 6),
				TRUE,
				NULL
			)
		) addwl,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 4),
				TRUE,
				NULL
			)
		) addwla,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (2, 5),
				TRUE,
				NULL
			)
		) addwl5,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (3, 6),
				TRUE,
				NULL
			)
		) addwlf,
		COUNT(c.source = 1 OR NULL) addw
	FROM
		(
			SELECT
				b.*, cudata.cusource
			FROM
				(
					SELECT
						cuadd.*
					FROM
						cuadd
					WHERE
						DATE_FORMAT(addDate, '%Y%m') = DATE_FORMAT(now(), '%Y%m')
				) AS b
			LEFT JOIN cudata ON cudata.id = b.customerId
		) AS c
	WHERE
		userId =#{userId}
) AS b ON a.id = b.userId
LEFT JOIN (
	SELECT
		b.userId,
		b.userName,
		COUNT(b.customerId OR NULL) vis,
		group_concat("", projectId) AS visproject
	FROM
		(
			SELECT
				cuvisit.*
			FROM
				cuvisit
			WHERE
				DATE_FORMAT(visitDate, '%Y%m') = DATE_FORMAT(now(), '%Y%m')
			AND userId =#{userId}
		) AS b
) AS c ON a.id = c.userId
LEFT JOIN (
	SELECT
		b.userId,
		b.userName,
		COUNT(b.customerId OR NULL) dea,
		sum(b.price) price,
		sum(b.commission) commission,
		group_concat("", projectId)AS deaproject
	FROM
		(
			SELECT
				cudeal.*
			FROM
				cudeal
			WHERE
				DATE_FORMAT(dealDate, '%Y%m') = DATE_FORMAT(now(), '%Y%m')
			AND userId =#{userId}
		) AS b
) AS d ON a.id = d.userId
	</select>
    <!--查看日计划-->
    <select id="finddayadd"
            resultType="com.first.entity.PersonalFormMap">
        SELECT * FROM cudayplan
        where
        userId=#{userId}
        <if test="createDate != null and  createDate != ''">
            AND DATE_FORMAT(createDate, '%Y%m%d') = DATE_FORMAT(#{createDate}, '%Y%m%d')
        </if>
        group by userId
    </select>
    <!--查看明日计划-->
    <select id="findnextdayadd"
            resultType="com.first.entity.PersonalFormMap">
        SELECT * FROM cudayplan
        where
        userId=#{userId}
        <if test="createDate != null and  createDate != ''">
            AND DATE_FORMAT(createDate, '%Y%m%d') = DATE_FORMAT(#{nexteDate}, '%Y%m%d')
        </if>
        group by userId
    </select>
    <!--查看周计划-->
    <select id="findweekadd"
            resultType="com.first.entity.PersonalFormMap">
        SELECT * FROM cuweekplan
        where
        userId=#{userId}
        <if test="createDate != null and  createDate != ''">
            <if test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
                and createDate between #{screateDate} and #{ecreateDate}
            </if>

        </if>
        group by userId
    </select>
    <!--查看月计划-->
    <select id="findmonthadd"
            resultType="com.first.entity.PersonalFormMap">
        SELECT * FROM cumonthplan
        where
        userId=#{userId}
        <if test="createDate != null and  createDate != ''">
            AND DATE_FORMAT(createDate, '%Y%m') = DATE_FORMAT(#{createDate}, '%Y%m')
        </if>
        group by userId
    </select>
	<!-- 添加日计划 -->
	<insert id="addDayPlan">
		INSERT INTO
		cudayplan
		VALUES
		(
		null,
		#{userId},
		#{add},
		#{visit},
		#{visitproject},
		#{createDate}
		)
	</insert>
	<!-- 添加周计划 -->
	<insert id="addWeekPlan">
		INSERT INTO
		cuweekplan
		VALUES
		(
		null,
		#{userId},
		#{add},
		#{visit},
		#{deal},
		#{createDate}
		)
	</insert>
	<!-- 添加月计划 -->
	<insert id="addMonthPlan">
		INSERT INTO
		cumonthplan
		VALUES
		(
		null,
		#{userId},
		#{add},
		#{visit},
		#{deal},
		#{createDate}
		)
	</insert>
	<!-- 添加部门日计划 -->
	<insert id="adddeDayPlan">
		INSERT INTO
		cudedayplan
		VALUES
		(
		null,
		#{userId},
		#{deId},
		#{add},
		#{visit},
		#{visitproject},
		#{createDate}
		)
	</insert>
	<!-- 添加周计划 -->
	<insert id="adddeWeekPlan">
		INSERT INTO
		cudeweekplan
		VALUES
		(
		null,
		#{userId},
		#{deId},
		#{add},
		#{visit},
		#{deal},
		#{createDate}
		)
	</insert>
	<!-- 添加月计划 -->
	<insert id="adddeMonthPlan">
		INSERT INTO
		cudemonthplan
		VALUES
		(
		null,
		#{userId},
		#{deId},
		#{add},
		#{visit},
		#{deal},
		#{createDate}
		)
	</insert>
	<select id="finddedayadd"
			resultType="com.first.entity.PersonalFormMap">
		SELECT * FROM cudedayplan
		where
		deId=#{deId}
		<if test="createDate != null and  createDate != ''">
			AND DATE_FORMAT(createDate, '%Y%m%d') = DATE_FORMAT(#{createDate}, '%Y%m%d')
		</if>
		group by deId
	</select>
	<!--查看明日计划-->
	<select id="finddenextdayadd"
			resultType="com.first.entity.PersonalFormMap">
		SELECT * FROM cudedayplan
		where
		deId=#{deId}
		<if test="createDate != null and  createDate != ''">
			AND DATE_FORMAT(createDate, '%Y%m%d') = DATE_FORMAT(#{nexteDate}, '%Y%m%d')
		</if>
		group by deId
	</select>
	<!--查看周计划-->
	<select id="finddeweekadd"
			resultType="com.first.entity.PersonalFormMap">
		SELECT * FROM cudeweekplan
		where
		deId=#{deId}
		<if test="createDate != null and  createDate != ''">
			<if test="screateDate != null and  screateDate != '' or ecreateDate != null and ecreateDate != ''">
				and createDate between #{screateDate} and #{ecreateDate}
			</if>

		</if>
		group by deId
	</select>
	<!--查看月计划-->
	<select id="finddemonthadd"
			resultType="com.first.entity.PersonalFormMap">
		SELECT * FROM cudemonthplan
		where
		deId=#{deId}
		<if test="createDate != null and  createDate != ''">
			AND DATE_FORMAT(createDate, '%Y%m') = DATE_FORMAT(#{createDate}, '%Y%m')
		</if>
		group by deId
	</select>
	<!--当天部门销售数据-->
	<select id="finddedayreport"
			resultType="com.first.entity.PersonalFormMap">
	SELECT
	a.id,
	a.userName,
	a.did,
	a. NAME department,
	ifnull(b.addw, 0) addw,
	ifnull(b.adddh, 0) adddh,
	ifnull(b.addwl, 0) addwl,
	ifnull(b.addwla, 0) addwla,
	ifnull(b.addwl5, 0) addwl5,
	ifnull(b.addwlf, 0) addwlf,
	ifnull(b.addqt, 0) addqt,
	ifnull(c.visit, 0) visit,
	ifnull(c.projectName, "") visitproject,
	ifnull(d.deal, 0) deal,
	ifnull(d.deaproject, "") dealproject,
	ifnull(sum(d.price) / 10000, 0) price,
	ifnull(sum(d.commission) / 10000, 0) commission,
	DATE_FORMAT(now(), "%Y-%m-%d") days
FROM
	(
		SELECT
			oguser.id,
			oguser.userName,
			ogdepartment.id AS did,
			ogdepartment. NAME
		FROM
			oguser
		LEFT JOIN ogdepartment ON ogdepartment.id = oguser.department
		WHERE
			oguser.id = #{userId}
	) AS a
LEFT JOIN (
	SELECT
		c.department,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource = 9,
				TRUE,
				NULL
			)
		) adddh,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (0, 7, 8),
				TRUE,
				NULL
			)
		) addqt,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 2, 3, 4, 5, 6),
				TRUE,
				NULL
			)
		) addwl,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 4),
				TRUE,
				NULL
			)
		) addwla,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (2, 5),
				TRUE,
				NULL
			)
		) addwl5,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (3, 6),
				TRUE,
				NULL
			)
		) addwlf,
		COUNT(c.source = 1 OR NULL) addw
	FROM
		(
			SELECT
				b.*, cudata.cusource
			FROM
				(
					SELECT
						cuadd.*, oguser.department
					FROM
						cuadd
					LEFT JOIN oguser ON cuadd.userId = oguser.id
					WHERE
						DATE_FORMAT(addDate, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
				) AS b
			LEFT JOIN cudata ON cudata.id = b.customerId
		) AS c
	WHERE
		department =#{deId}
) AS b ON a.did = b.department
LEFT JOIN (
	SELECT
		b.department,
		COUNT(b.customerId) AS visit,
		group_concat("", projectName) AS projectName
	FROM
		(
			SELECT
				cuvisit.*, oguser.department,
				CONCAT(
					cuvisit.userName,
					"：",
					projectId
				) AS projectName
			FROM
				cuvisit
			LEFT JOIN oguser ON cuvisit.userId = oguser.id
			WHERE
				DATE_FORMAT(visitDate, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
			AND department =#{deId}
		) AS b
) AS c ON a.did = c.department
LEFT JOIN (
	SELECT
		b.department,
		COUNT(b.customerId OR NULL) deal,
		sum(b.price) price,
		sum(b.commission) commission,
		group_concat("", projectName) AS deaproject
	FROM
		(
			SELECT
				cudeal.*, oguser.department,
				CONCAT(
					cudeal.userName,
					"：",
					projectId,
					"，总价：",
					price,
					"，佣金：",
					commission
				) AS projectName
			FROM
				cudeal
			LEFT JOIN oguser ON cudeal.userId = oguser.id
			WHERE
				DATE_FORMAT(dealDate, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
			AND department = #{deId}
		) AS b
) AS d ON a.did = d.department

	</select>
	<!--当周部门销售数据-->
	<select id="finddeweekreport"
			resultType="com.first.entity.PersonalFormMap">
	SELECT
	a.id,
	a.userName,
	a.did,
	a. NAME department,
	ifnull(b.addw, 0) addw,
	ifnull(b.adddh, 0) adddh,
	ifnull(b.addwl, 0) addwl,
	ifnull(b.addwla, 0) addwla,
	ifnull(b.addwl5, 0) addwl5,
	ifnull(b.addwlf, 0) addwlf,
	ifnull(b.addqt, 0) addqt,
	ifnull(c.visit, 0) visit,
	ifnull(c.projectName, "") visitproject,
	ifnull(d.deal, 0) deal,
	ifnull(d.deaproject, "") dealproject,
	ifnull(sum(d.price) / 10000, 0) price,
	ifnull(sum(d.commission) / 10000, 0) commission

FROM
	(
		SELECT
			oguser.id,
			oguser.userName,
			ogdepartment.id AS did,
			ogdepartment. NAME
		FROM
			oguser
		LEFT JOIN ogdepartment ON ogdepartment.id = oguser.department
		WHERE
			oguser.id = #{userId}
	) AS a
LEFT JOIN (
	SELECT
		c.department,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource = 9,
				TRUE,
				NULL
			)
		) adddh,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (0, 7, 8),
				TRUE,
				NULL
			)
		) addqt,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 2, 3, 4, 5, 6),
				TRUE,
				NULL
			)
		) addwl,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 4),
				TRUE,
				NULL
			)
		) addwla,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (2, 5),
				TRUE,
				NULL
			)
		) addwl5,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (3, 6),
				TRUE,
				NULL
			)
		) addwlf,
		COUNT(c.source = 1 OR NULL) addw
	FROM
		(
			SELECT
				b.*, cudata.cusource
			FROM
				(
					SELECT
						cuadd.*, oguser.department
					FROM
						cuadd
					LEFT JOIN oguser ON cuadd.userId = oguser.id
					WHERE
						addDate  between #{screateDate} and #{ecreateDate}
				) AS b
			LEFT JOIN cudata ON cudata.id = b.customerId
		) AS c
	WHERE
		department =#{deId}
) AS b ON a.did = b.department
LEFT JOIN (
	SELECT
		b.department,
		COUNT(b.customerId) AS visit,
		group_concat("", projectName) AS projectName
	FROM
		(
			SELECT
				cuvisit.*, oguser.department,
				CONCAT(
					cuvisit.userName,
					"：",
					projectId
				) AS projectName
			FROM
				cuvisit
			LEFT JOIN oguser ON cuvisit.userId = oguser.id
			WHERE
			visitDate  between #{screateDate} and #{ecreateDate}
			AND department =#{deId}
		) AS b
) AS c ON a.did = c.department
LEFT JOIN (
	SELECT
		b.department,
		COUNT(b.customerId OR NULL) deal,
		sum(b.price) price,
		sum(b.commission) commission,
		group_concat("", projectName) AS deaproject
	FROM
		(
			SELECT
				cudeal.*, oguser.department,
				CONCAT(
					cudeal.userName,
					"：",
					projectId,
					"，总价：",
					price,
					"，佣金：",
					commission
				) AS projectName
			FROM
				cudeal
			LEFT JOIN oguser ON cudeal.userId = oguser.id
			WHERE
				dealDate  between #{screateDate} and #{ecreateDate}
			AND department = #{deId}
		) AS b
) AS d ON a.did = d.department

	</select>
	<!--当月部门销售数据-->
	<select id="finddemonthreport"
			resultType="com.first.entity.PersonalFormMap">
	SELECT
	a.id,
	a.userName,
	a.did,
	a. NAME department,
	ifnull(b.addw, 0) addw,
	ifnull(b.adddh, 0) adddh,
	ifnull(b.addwl, 0) addwl,
	ifnull(b.addwla, 0) addwla,
	ifnull(b.addwl5, 0) addwl5,
	ifnull(b.addwlf, 0) addwlf,
	ifnull(b.addqt, 0) addqt,
	ifnull(c.visit, 0) visit,
	ifnull(c.projectName, "") visitproject,
	ifnull(d.deal, 0) deal,
	ifnull(d.deaproject, "") dealproject,
	ifnull(sum(d.price) / 10000, 0) price,
	ifnull(sum(d.commission) / 10000, 0) commission,
	DATE_FORMAT(now(), "%Y-%m") months
FROM
	(
		SELECT
			oguser.id,
			oguser.userName,
			ogdepartment.id AS did,
			ogdepartment. NAME
		FROM
			oguser
		LEFT JOIN ogdepartment ON ogdepartment.id = oguser.department
		WHERE
			oguser.id = #{userId}
	) AS a
LEFT JOIN (
	SELECT
		c.department,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource = 9,
				TRUE,
				NULL
			)
		) adddh,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (0, 7, 8),
				TRUE,
				NULL
			)
		) addqt,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 2, 3, 4, 5, 6),
				TRUE,
				NULL
			)
		) addwl,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (1, 4),
				TRUE,
				NULL
			)
		) addwla,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (2, 5),
				TRUE,
				NULL
			)
		) addwl5,
		COUNT(

			IF (
				c.source = 1
				AND c.cusource IN (3, 6),
				TRUE,
				NULL
			)
		) addwlf,
		COUNT(c.source = 1 OR NULL) addw
	FROM
		(
			SELECT
				b.*, cudata.cusource
			FROM
				(
					SELECT
						cuadd.*, oguser.department
					FROM
						cuadd
					LEFT JOIN oguser ON cuadd.userId = oguser.id
					WHERE
						DATE_FORMAT(addDate, '%Y%m') = DATE_FORMAT(now(), '%Y%m')
				) AS b
			LEFT JOIN cudata ON cudata.id = b.customerId
		) AS c
	WHERE
		department =#{deId}
) AS b ON a.did = b.department
LEFT JOIN (
	SELECT
		b.department,
		COUNT(b.customerId) AS visit,
		group_concat("", projectName) AS projectName
	FROM
		(
			SELECT
				cuvisit.*, oguser.department,
				CONCAT(
					cuvisit.userName,
					"：",
					projectId
				) AS projectName
			FROM
				cuvisit
			LEFT JOIN oguser ON cuvisit.userId = oguser.id
			WHERE
				DATE_FORMAT(visitDate, '%Y%m') = DATE_FORMAT(now(), '%Y%m')
			AND department =#{deId}
		) AS b
) AS c ON a.did = c.department
LEFT JOIN (
	SELECT
		b.department,
		COUNT(b.customerId OR NULL) deal,
		sum(b.price) price,
		sum(b.commission) commission,
		group_concat("", projectName) AS deaproject
	FROM
		(
			SELECT
				cudeal.*, oguser.department,
				CONCAT(
					cudeal.userName,
					"：",
					projectId,
					"，总价：",
					price,
					"，佣金：",
					commission
				) AS projectName
			FROM
				cudeal
			LEFT JOIN oguser ON cudeal.userId = oguser.id
			WHERE
				DATE_FORMAT(dealDate, '%Y%m') = DATE_FORMAT(now(), '%Y%m')
			AND department = #{deId}
		) AS b
) AS d ON a.did = d.department

	</select>

</mapper>