<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.StatisticsTVMapper">

	<select id="findDeday"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT a.id,a.name , ifnull(b.addw,0)
		addw,ifnull(b.adddh,0)
		adddh,ifnull(b.addwl,0) addwl,ifnull(b.addqt,0)
		addqt,ifnull(b.addg,0)
		addg,ifnull(b.addz,0) addz,ifnull(c.vis,0)
		vis,ifnull(d.dea,0)
		dea,ifnull(e.follow,0) follow,day(NOW()) days FROM

		(SELECT * FROM ogdepartment WHERE parentId in (4,12,13,14,15)) as a left
		JOIN

		(SELECT
		c.name,

		c.department,
		COUNT(if(c.source=1 and
		c.cusource=9,true,null)) adddh,
		COUNT(if(c.source=1 and c.cusource IN
		(0,7,8),true,null)) addqt,
		COUNT(if(c.source=1 and c.cusource IN
		(1,2,3,4,5,6),true,null)) addwl,
		COUNT(c.source=1 or null)addw,
		COUNT(c.source=2 or null) addg,
		COUNT(c.source=3 OR NULL) addz
		FROM
		(SELECT a.*, cudata.cusource FROM (SELECT cu_add.*,oguser.department
		,ogdepartment.`name` from cu_add LEFT JOIN oguser ON
		cu_add.userId=oguser.id LEFT JOIN ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_add.addDate,
		'%Y%m%d' )=DATE_FORMAT(now(), '%Y%m%d')) as a LEFT JOIN
		cudata ON
		cudata.id =a.customerId) AS c GROUP BY c.name) as b ON
		b.department=a.id left JOIN

		(SELECT
		d.name,
		d.department,
		COUNT(
		d.customerId or null) vis
		FROM
		(SELECT cu_visit.*,oguser.department
		,ogdepartment.`name`
		from cu_visit LEFT JOIN oguser ON
		cu_visit.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_visit.visitDate,
		'%Y%m%d' )=DATE_FORMAT(now(), '%Y%m%d')
		) AS d GROUP BY d.name ) as c
		ON c.department=a.id LEFT JOIN

		(SELECT e.name,e.department,COUNT(
		e.customerId or null) dea FROM
		(SELECT cu_deal.*,oguser.department
		,ogdepartment.`name`
		from cu_deal LEFT JOIN oguser ON
		cu_deal.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_deal.dealDate,
		'%Y%m%d' )=DATE_FORMAT(now(), '%Y%m%d'))
		AS e GROUP BY e.name ) AS d ON
		d.department=a.id LEFT JOIN


		(SELECT f.name,f.department,COUNT(
		f.customerId or null) follow FROM
		(SELECT cu_follow.*,oguser.department
		,ogdepartment.`name`
		from cu_follow LEFT JOIN oguser ON
		cu_follow.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_follow.CreateDate, '%Y%m%d' )=DATE_FORMAT(now(),
		'%Y%m%d')) AS f GROUP BY f.name) as e ON e.department=a.id

		ORDER BY
		a.parentId,a.id
	</select>

	<select id="findDeweekfindlastpadd"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT a.id,a.name , ifnull(b.addw,0)
		addw,ifnull(b.adddh,0)
		adddh,ifnull(b.addwl,0) addwl,ifnull(b.addqt,0)
		addqt,ifnull(b.addg,0)
		addg,ifnull(b.addz,0) addz,ifnull(c.vis,0)
		vis,ifnull(d.dea,0)
		dea,ifnull(e.follow,0) follow FROM

		(SELECT * FROM
		ogdepartment WHERE parentId in (4,12,13,14,15)) as a left JOIN

		(SELECT
		c.name,
		c.department,
		COUNT(if(c.source=1 and c.cusource=9,true,null))
		adddh,
		COUNT(if(c.source=1 and c.cusource IN (0,7,8),true,null)) addqt,
		COUNT(if(c.source=1 and c.cusource IN (1,2,3,4,5,6),true,null)) addwl,
		COUNT(c.source=1 or null)addw,
		COUNT(c.source=2 or null) addg,
		COUNT(c.source=3 OR NULL) addz
		FROM (SELECT a.*, cudata.cusource FROM
		(SELECT cu_add.*,oguser.department
		,ogdepartment.`name` from cu_add LEFT
		JOIN oguser ON
		cu_add.userId=oguser.id LEFT JOIN ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		YEARWEEK(date_format(cu_add.addDate,'%Y-%m-%d')) = YEARWEEK(now())) as
		a LEFT JOIN
		cudata ON cudata.id =a.customerId) AS c GROUP BY c.name) as
		b ON
		b.department=a.id left JOIN

		(SELECT
		d.name,
		d.department,
		COUNT(
		d.customerId or null) vis
		FROM
		(SELECT cu_visit.*,oguser.department
		,ogdepartment.`name`
		from cu_visit LEFT JOIN oguser ON
		cu_visit.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		YEARWEEK(date_format(cu_visit.visitDate,'%Y-%m-%d')) = YEARWEEK(now())
		) AS d GROUP BY d.name ) as c ON c.department=a.id LEFT JOIN

		(SELECT
		e.name,e.department,COUNT( e.customerId or null) dea FROM
		(SELECT
		cu_deal.*,oguser.department ,ogdepartment.`name`
		from cu_deal LEFT JOIN
		oguser ON cu_deal.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		YEARWEEK(date_format(cu_deal.dealDate,'%Y-%m-%d')) = YEARWEEK(now()))
		AS e GROUP BY e.name ) AS d ON d.department=a.id LEFT JOIN


		(SELECT
		f.name,f.department,COUNT( f.customerId or null) follow FROM
		(SELECT
		cu_follow.*,oguser.department ,ogdepartment.`name`
		from cu_follow LEFT
		JOIN oguser ON cu_follow.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		YEARWEEK(date_format(cu_follow.createDate,'%Y-%m-%d')) =
		YEARWEEK(now())) AS f GROUP BY f.name) as e ON e.department=a.id

		ORDER
		BY a.parentId,a.id
	</select>
	<select id="findDemonth"
		resultType="com.first.entity.StatisticsFormMap">

		SELECT a.id,a.name , ifnull(b.addw,0)
		addw,ifnull(b.adddh,0) adddh,ifnull(b.addwl,0) addwl,ifnull(b.addqt,0)
		addqt,ifnull(b.addg,0) addg,ifnull(b.addz,0) addz,ifnull(c.vis,0)
		vis,ifnull(d.dea,0) dea,ifnull(e.follow,0) follow,MONTH(NOW()) months
		FROM

		(SELECT * FROM ogdepartment WHERE parentId in (4,12,13,14,15)) as a
		left JOIN

		(SELECT
		c.name,
		c.department,
		COUNT(if(c.source=1 and
		c.cusource=9,true,null)) adddh,
		COUNT(if(c.source=1 and c.cusource IN
		(0,7,8),true,null)) addqt,
		COUNT(if(c.source=1 and c.cusource IN
		(1,2,3,4,5,6),true,null)) addwl,
		COUNT(c.source=1 or null)addw,
		COUNT(c.source=2 or null) addg,
		COUNT(c.source=3 OR NULL) addz
		FROM
		(SELECT a.*, cudata.cusource FROM (SELECT cu_add.*,oguser.department
		,ogdepartment.`name` from cu_add LEFT JOIN oguser ON
		cu_add.userId=oguser.id LEFT JOIN ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_add.addDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')) as a LEFT JOIN
		cudata ON cudata.id
		=a.customerId) AS c GROUP BY c.name) as b ON
		b.department=a.id left
		JOIN

		(SELECT
		d.name,
		d.department,
		COUNT( d.customerId or null) vis
		FROM
		(SELECT cu_visit.*,oguser.department ,ogdepartment.`name`
		from cu_visit
		LEFT JOIN oguser ON cu_visit.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_visit.visitDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m') )
		AS d GROUP BY d.name ) as c ON
		c.department=a.id LEFT JOIN

		(SELECT e.name,e.department,COUNT(
		e.customerId or null) dea FROM
		(SELECT cu_deal.*,oguser.department
		,ogdepartment.`name`
		from cu_deal LEFT JOIN oguser ON
		cu_deal.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_deal.dealDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')) AS e
		GROUP BY e.name ) AS d ON
		d.department=a.id LEFT JOIN


		(SELECT f.name,f.department,COUNT(
		f.customerId or null) follow FROM
		(SELECT cu_follow.*,oguser.department
		,ogdepartment.`name`
		from cu_follow LEFT JOIN oguser ON
		cu_follow.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_follow.CreateDate, '%Y%m' )=DATE_FORMAT(now(), '%Y%m'))
		AS f GROUP BY f.name) as e ON e.department=a.id

		ORDER BY
		a.parentId,a.id

	</select>
	<!-- 部门当月每天报表 -->
	<select id="findDedays"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT a.id,a.name , ifnull(b.addw,0)
		addw,ifnull(b.adddh,0) adddh,ifnull(b.addwl,0) addwl,ifnull(b.addqt,0)
		addqt,ifnull(b.addg,0) addg,ifnull(b.addz,0) addz,ifnull(c.vis,0)
		vis,ifnull(d.dea,0) dea,ifnull(e.follow,0) follow,
		a.days FROM

		(SELECT
		a.id ,a.`name` ,a.parentId,b.days FROM ogdepartment a
		,cu_day b WHERE
		b.days &lt;=day(NOW())and parentId in (4,12,13,14,15)) as
		a left JOIN

		(SELECT
		c.name,
		c.department,

		COUNT(if(c.source=1 and
		c.cusource=9,true,null)) adddh,
		COUNT(if(c.source=1 and c.cusource IN
		(0,7,8),true,null)) addqt,
		COUNT(if(c.source=1 and c.cusource IN
		(1,2,3,4,5,6),true,null)) addwl,
		COUNT(c.source=1 or null)addw,
		COUNT(c.source=2 or null) addg,
		COUNT(c.source=3 OR NULL) addz ,
		c.days
		FROM (SELECT a.*, cudata.cusource FROM
		(SELECT
		cu_add.*,day(cu_add.addDate) as days,oguser.department
		,ogdepartment.`name` from cu_add LEFT JOIN oguser ON
		cu_add.userId=oguser.id LEFT JOIN ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_add.addDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')) as a LEFT JOIN
		cudata ON cudata.id
		=a.customerId) AS c GROUP BY c.name,c.days) as b ON
		b.department=a.id
		AND a.days=b.days left JOIN

		(SELECT
		d.name,
		d.department,
		d.days,
		COUNT(
		d.customerId or null) vis
		FROM
		(SELECT cu_visit.*,day(cu_visit.visitDate)
		as days,oguser.department
		,ogdepartment.`name`
		from cu_visit LEFT JOIN
		oguser ON cu_visit.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department
		WHERE
		DATE_FORMAT(cu_visit.visitDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')
		) AS d GROUP BY d.name ,d.days ) as
		c ON c.department=a.id AND
		a.days=c.days LEFT JOIN

		(SELECT
		e.name,
		e.department,
		e.days ,
		COUNT( e.customerId or null) dea
		FROM
		((SELECT
		cu_deal.*,
		day(cu_deal.dealDate) as days,
		oguser.department ,
		ogdepartment.`name`
		from cu_deal LEFT JOIN oguser ON
		cu_deal.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department
		WHERE
		DATE_FORMAT(cu_deal.dealDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')
		)) AS e GROUP BY e.name ,e.days) AS
		d ON d.department=a.id AND
		a.days=d.days LEFT JOIN

		(SELECT f.name,
		f.department,
		COUNT( f.customerId or null) follow ,
		f.days
		FROM
		(SELECT
		cu_follow.*,
		oguser.department ,
		day(cu_follow.CreateDate) as days,
		ogdepartment.`name`
		from cu_follow LEFT JOIN oguser ON
		cu_follow.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department
		WHERE
		DATE_FORMAT(cu_follow.CreateDate, '%Y%m' )=DATE_FORMAT(now(),'%Y%m'))
		AS f GROUP BY f.name,f.days) as e ON e.department=a.id AND
		a.days=e.days
		ORDER BY a.parentId,a.id ,a.days
	</select>

	<select id="findRankPerAddMonth"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT * FROM (SELECT a.userName ,a.name,ifnull(b.addw,0)
		addw FROM
		(SELECT
		oguser.id,oguser.userName,ogdepartment.name FROM
		oguser LEFT
		JOIN
		ogdepartment ON ogdepartment.id=oguser.department WHERE
		oguser.locked=1 and ogdepartment.parentId in (4,12,13,14,15)) as a LEFT
		JOIN

		(SELECT cu_add.userId, cu_add.userName,COUNT( customerId or null)
		addw FROM
		cu_add where cu_add.source=1 and DATE_FORMAT(addDate, '%Y%m'
		)=DATE_FORMAT(now(), '%Y%m' ) GROUP BY userId ) as b
		ON b.userId=a.id

		ORDER BY addw desc LIMIT 5) as a ORDER BY addw asc
	</select>
	<select id="findRankPerFollowMonth"
		resultType="com.first.entity.StatisticsFormMap">

		SELECT * FROM (SELECT a.userName
		,a.name,ifnull(b.follow,0)follow FROM
		(SELECT
		oguser.id,oguser.userName,ogdepartment.name FROM oguser LEFT
		JOIN
		ogdepartment ON ogdepartment.id=oguser.department WHERE
		oguser.locked=1 and ogdepartment.parentId in (4,12,13,14,15)) as a LEFT
		JOIN

		(SELECT cu_follow.userId, cu_follow.userName,COUNT( customerId or
		null) follow
		FROM cu_follow where DATE_FORMAT(CreateDate, '%Y%m'
		)=DATE_FORMAT(now(), '%Y%m' ) GROUP BY userId ) as b
		ON b.userId=a.id

		ORDER BY follow desc LIMIT 5) as a ORDER BY follow asc
	</select>
	<select id="findRankPerVisMonth"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT * FROM (SELECT a.userName ,a.name,ifnull(b.vis,0)vis
		FROM
		(SELECT
		oguser.id,oguser.userName,ogdepartment.name FROM oguser
		LEFT JOIN
		ogdepartment ON ogdepartment.id=oguser.department WHERE
		oguser.locked=1 and ogdepartment.parentId in (4,12,13,14,15)) as a LEFT
		JOIN

		(SELECT cu_visit.userId, cu_visit.userName,COUNT( customerId or
		null) vis FROM
		cu_visit where DATE_FORMAT(visitDate, '%Y%m'
		)=DATE_FORMAT(now(),
		'%Y%m' ) GROUP BY userId ) as b
		ON b.userId=a.id

		ORDER BY vis desc LIMIT 5) as a ORDER BY vis asc
	</select>
	<select id="findRankPerDeaMonth"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT * FROM (SELECT a.userName ,a.name,ifnull(b.dea,0)dea
		FROM
		(SELECT
		oguser.id,oguser.userName,ogdepartment.name FROM oguser
		LEFT JOIN
		ogdepartment ON ogdepartment.id=oguser.department WHERE
		oguser.locked=1 and ogdepartment.parentId in (4,12,13,14,15)) as a LEFT
		JOIN

		(SELECT cu_deal.userId, cu_deal.userName,COUNT( customerId or null)
		dea FROM
		cu_deal where DATE_FORMAT(dealDate, '%Y%m' )=DATE_FORMAT(now(),
		'%Y%m'
		) GROUP BY userId ) as b
		ON b.userId=a.id

		ORDER BY dea desc LIMIT
		5) as a ORDER BY dea asc
	</select>

	<select id="findRankDeAddMonth"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT * FROM (SELECT a.id,a.name ,ifnull(b.addw,0) addw
		FROM
		(SELECT *
		FROM
		ogdepartment WHERE parentId in (4,12,13,14,15)) as a
		left JOIN

		(SELECT
		c.name,
		c.department,

		COUNT(c.source=1 or null)addw

		FROM
		(SELECT
		a.*,
		cudata.cusource FROM (SELECT cu_add.*,oguser.department
		,ogdepartment.`name` from cu_add LEFT JOIN oguser ON
		cu_add.userId=oguser.id LEFT JOIN ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_add.addDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')) as a LEFT JOIN
		cudata ON
		cudata.id
		=a.customerId) AS c GROUP BY c.name) as b ON
		b.department=a.id
		ORDER BY
		addw desc LIMIT 5) as a ORDER BY addw asc
	</select>
	<select id="findRankDeFollowMonth"
		resultType="com.first.entity.StatisticsFormMap">

		SELECT * FROM (SELECT a.id,a.name ,ifnull(e.follow,0)
		follow FROM
		(SELECT *
		FROM ogdepartment WHERE parentId in (4,12,13,14,15))
		as a left JOIN

		(SELECT f.name,f.department,COUNT( f.customerId or null)
		follow FROM
		(SELECT cu_follow.*,oguser.department ,ogdepartment.`name`
		from cu_follow
		LEFT JOIN oguser ON cu_follow.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_follow.CreateDate, '%Y%m' )=DATE_FORMAT(now(),
		'%Y%m'))
		AS f GROUP BY f.name) as e ON e.department=a.id
		ORDER BY follow desc
		LIMIT 5) as a ORDER BY follow asc
	</select>
	<select id="findRankDeVisMonth"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT * FROM (SELECT a.id,a.name ,ifnull(c.vis,0) vis FROM
		(SELECT * FROM
		ogdepartment WHERE parentId in (4,12,13,14,15)) as a left
		JOIN


		(SELECT
		d.name,
		d.department,
		COUNT( d.customerId or null) vis
		FROM
		(SELECT
		cu_visit.*,oguser.department ,ogdepartment.`name`
		from cu_visit
		LEFT JOIN
		oguser ON cu_visit.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_visit.visitDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')
		) AS d GROUP BY d.name ) as c ON
		c.department=a.id
		ORDER BY vis desc LIMIT 5) as a ORDER BY vis asc
	</select>
	<select id="findRankDeDeaMonth"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT * FROM (SELECT a.id,a.name ,ifnull(c.dea,0) dea FROM
		(SELECT * FROM
		ogdepartment WHERE parentId in (4,12,13,14,15)) as a left JOIN


		(SELECT
		d.name,
		d.department,
		COUNT( d.customerId or null) dea
		FROM
		(SELECT
		cu_deal.*,oguser.department ,ogdepartment.`name`
		from cu_deal LEFT JOIN
		oguser ON cu_deal.userId=oguser.id LEFT JOIN
		ogdepartment ON
		ogdepartment.id=oguser.department WHERE
		DATE_FORMAT(cu_deal.dealDate,
		'%Y%m' )=DATE_FORMAT(now(), '%Y%m')
		) AS d GROUP BY d.name ) as c ON
		c.department=a.id
		ORDER BY dea desc LIMIT 5) as a ORDER BY dea asc
	</select>
	<!-- 上月新增部门排行 -->
	<select id="findlastdadd"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT name,addw,date FROM cureportdsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY addw  DESC LIMIT 3 
		
	</select>
	<!-- 上月更进部门排行 -->
	<select id="findlastdfollow"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT name,follow,date FROM cureportdsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY follow  DESC LIMIT 3 
		
	</select>
	<!-- 上月带访部门排行 -->
	<select id="findlastdvis"
		resultType="com.first.entity.StatisticsFormMap">
		SELECT name,vis,date FROM cureportdsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY vis  DESC LIMIT 3 
		
	</select>
	<!-- 上月成交部门排行 -->
	<select id="findlastddea"
		resultType="com.first.entity.StatisticsFormMap">
		
		SELECT name,dea,date FROM cureportdsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY dea  DESC LIMIT 3 
	</select>
	<!-- 上月新增个人排行 -->
	<select id="findlastpadd"
		resultType="com.first.entity.StatisticsFormMap">
		
		SELECT userName,name,addw,date FROM cureportpsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY addw  DESC LIMIT 3
	</select>

	<!-- 上月跟进个人排行 -->
	<select id="findlastpfollow"
		resultType="com.first.entity.StatisticsFormMap">
		 
		SELECT userName,name,follow,date FROM cureportpsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY follow DESC LIMIT 3 
	</select>
	<!-- 上月到访个人排行 -->
	<select id="findlastpvis"
		resultType="com.first.entity.StatisticsFormMap">

		SELECT userName,name,vis,date FROM cureportpsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY vis  DESC LIMIT 3 
	</select>
		<!-- 上月成交个人排行 -->
	<select id="findlastpdea"
		resultType="com.first.entity.StatisticsFormMap">

		SELECT userName,name,dea,date FROM cureportpsum where date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') ORDER BY dea  DESC LIMIT 3 
	</select>
		<!-- 上月个人销冠排行 -->
	<select id="findlastpchampion"
		resultType="com.first.entity.StatisticsFormMap">
	SELECT a.name ,a.department,a.commission,a.date,b.description,b.image FROM cu_champion as a LEFT  JOIN peshows as b on  a.showid=b.id WHERE date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') and type=1

	</select>
		<!-- 上月部门销冠排行 -->
	<select id="findlastdchampion"
		resultType="com.first.entity.StatisticsFormMap">
	SELECT a.name ,a.commission,a.date,b.description,b.image FROM cu_champion as a LEFT  JOIN peshows as b on  a.showid=b.id WHERE date=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') and type=2

	</select>
	<!-- 本月销售报表 -->
	<select id="findMonthExtiension"
			resultType="com.first.entity.StatisticsFormMap">
	SELECT
	IFNULL(b.adds, 0) adds,
	IFNULL(a.follow, 0) follow,
	IFNULL(c.vis, 0) vis,
	a.days
FROM
	(
		SELECT
			COUNT(customerId) AS follow,
			DAY (CreateDate) AS days
		FROM
			cu_follow
		WHERE
			DATE_FORMAT(CreateDate, '%Y%m') = DATE_FORMAT(NOW(), '%Y%m')
		GROUP BY
			DATE_FORMAT(CreateDate, '%Y%m%d')
	) AS a
LEFT JOIN (
	SELECT
		COUNT(customerId) AS adds,
		DAY (addDate) AS days
	FROM
		cu_add
	WHERE
		DATE_FORMAT(addDate, '%Y%m') = DATE_FORMAT(NOW(), '%Y%m')
	AND source = 1
	GROUP BY
		DATE_FORMAT(addDate, '%Y%m%d')
) AS b ON a.days = b.days
LEFT JOIN (
	SELECT
		COUNT(customerId) AS vis,
		DAY (visitDate) AS days
	FROM
		cu_visit
	WHERE
		DATE_FORMAT(visitDate, '%Y%m') = DATE_FORMAT(NOW(), '%Y%m')
	GROUP BY
		DATE_FORMAT(visitDate, '%Y%m%d')
) AS c ON a.days = c.days
	</select>
</mapper>