<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.UserLoginMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		userId ,
		accountName,
		userName,
		(SELECT group_concat(RoleName) FROM ogRole
		WHERE ogRole.RoleID IN (SELECT RoleId FROM
		ogUser_Role AS o INNER JOIN ogUser AS u ON o.UserId = u.UserID)) roleName,
		passWord,
		credentialsSalt,
		department,
		gender,
		email,
		telephone,
		statue,
		createDate,
		description
		
	</sql>
		<!-- 添加日志 -->
		
	<insert id="addEntity"
		>
		INSERT INTO 
			oguserlogin 
		
		VALUES 
		(
			null,
			#{userId},
			#{accountName},
			#{createDate},
			#{loginIP}
			
		)
	</insert>
	<!--查询登录 -->
	<select id="findByPage" resultType="com.first.entity.UserLoginFormMap">
		select
		*
		from oguserlogin 
	
		
	</select>
	
</mapper>