body{
    /*background: #070f1f;*/
}
*{
    margin: 0;
    padding: 0;
}

.all{
    width: 100%;
    height: 900px;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    display: flex;
}

.Child{
    flex: 1;
    height: 500px;
    color: white;
    margin: 10px 0;
}
/*===========================*/
.swiper-container {
    /*width: 600px;*/
    height: 500px;
}
.swiper-slide{
    background: #1b5a9e94;
}
.Chip{
    height: 60px;
    background: rgba(128, 124, 255, 0.25);
    display: flex;
}
.chipCh{
    flex: 1;
    text-align: center;
    line-height: 60px;
}
.tivb{
    display: flex;
    /*background: red;*/
}

.DeaChild{
    flex: 1;
    text-align: center;
    padding: 20px 0;
}
.DeaChild p{
    padding: 10px 0;
}

/*=================排行==============*/
.Rankings{
    height:200px ;
    /*background: #1b5a9e94;*/
    margin: 0 0 5px 0;
}



























